<!-- <div>
  <h3 class="text-center chat_header">Chat Application</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="mesgs">
        <div class="msg_history">
          <div *ngFor="let msg of messages">
            <div class="containers" *ngIf="msg.type == 'received'">
              <div class="incoming_msg_img"></div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>
                    {{ msg.message }}
                  </p>
                  <span class="time-right">
                    {{ msg.date | date: "medium" }}
                  </span>
                </div>
              </div>
            </div>
            <div
              class="outgoing_msg containers darker"
              *ngIf="msg.type == 'sent'"
            >
              <div class="sent_msg">
                <p>
                  {{ msg.message }}
                </p>
                <span class="time-right"> {{ msg.date | date: "medium" }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="input_msg_write form-group w-50">
            <input
              type="text"
              class="write_msg form-control"
              [value]="txtMessage"
              (input)="txtMessage = $event.target.value"
              (keydown.enter)="sendMessage()"
              placeholder="Type a message"
            />
          </div>
          <div>
            <button
              class="msg_send_btn btn btn-default"
              type="button"
              (click)="sendMessage()"
            >
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container" style="width: 50%; margin-top: 20px;">
  <form>
    <div class="form-group">
      <label for="user">UserName</label>
      <input type="text" class="form-control" #name />
    </div>
    <div class="form-group">
      <label for="password">Password</label>

      <input type="text" class="form-control" id="password" #psw />
    </div>

    <div class="row">
      <button
        type="button"
        (click)="login(name, psw)"
        class="btn btn-primary mr-5 ml-5"
      >
        Login
      </button>
      <button type="button" (click)="reg(name, psw)" class="btn btn-primary">
        Register
      </button>
    </div>
  </form>
</div>
